<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MouseClickLocker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MouseClickLocker.Properties.Settings>
            <setting name="ClickLockDelayMS" serializeAs="String">
                <value>1500</value>
            </setting>
            <setting name="MarkerXOffset" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="MarkerYOffset" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="AllowMouseMove" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowMouseMovePx" serializeAs="String">
                <value>16</value>
            </setting>
        </MouseClickLocker.Properties.Settings>
    </userSettings>
</configuration>